# Paste in your .gitignore file: 
# ==============================
# Virtual Environment
# ==============================
venv/


# ==============================
# Python Cache Files
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd


# ==============================
# Jupyter Notebook Checkpoints
# ==============================
.ipynb_checkpoints/


# ==============================
# VS Code Local Settings
# ==============================
.vscode/


# ==============================
# Spark Temporary Files
# ==============================
.sparkStaging/
metastore_db/
derby.log


# ==============================
# Environment / Secret Files
# ==============================
.env
*.env


# ==============================
# Operating System Files
# ==============================
.DS_Store
Thumbs.db


# ==============================
# Log Files
# ==============================
*.log